<h4>Agregar Personaje</h4>
<form class="row" (submit)="emitCharacter()">
    <input 
        type="text"
        name="name"
        placeholder="nombre" 
        class="form-control mb-2"
        [(ngModel)]="character.name"
    >
    
    <input 
        type="number" 
        name="power"
        placeholder="Poder" 
        class="form-control mb-2"
        [(ngModel)]="character.power"
    >

    <button type="submit" class="btn btn-primary" >Agregar</button>

    <hr>
    <!-- <pre>{{character | json}}</pre> -->
</form>